<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O mnie</h2>
                    <h3 class="section-subheading text-muted">W skrócie:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kamila_kotowicz1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Od 8 lat w zawodzie</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Od 8 lat zajmuję się zawodowo grafiką oraz fotografią produktową. W moim graficznym portfolio znajdziesz projekty budowane na bazie guideline'ów i szczegółowych specyfikacji, jak i kreacje własne. Projektowałam dla znanych marek m.in:  Max Factor, Bourjois, Wella, Coca-Cola, Orbit czy Xiaomi. Zapraszam do kontaktu.</p>
                                </div>
                            </div>
                 </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>
